* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #f1f3f6 !important;
    scroll-behavior: smooth;
    font-family: 'Yantramanav', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333333;
}

.navbar {
    width: 100%;
    position: fixed !important;
    z-index: 999 !important;
    background-color: #278664 !important;
    box-shadow: 0px 0.01em 1px 1px #0000003b;
}

.navtitle {
    font-size: 1.5em;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.neumorphism-1 {
    height: auto;
    width: 90%;
    max-width: 700px;
    background: #dde1e7;
    font-weight: 500;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.neumorphism-2 {
    margin: 50px;
    height: 250px;
    width: 250px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.button {
    background: #9dabc0;
}